<div class="conteneur_question">
    <div class="question">
        <div class="question_entete">{{question?.question}}</div>
        <p *ngIf="!question?.multiselect" class="indication">* Une seule réponse possible</p>
        <p *ngIf="question?.multiselect" class="indication">* Plusieurs réponses sont possibles</p>
        <div class="conteneur_proposition">
            <div *ngIf="!resultatFinal && response1 == false && !resultat" class="reponseQuestion" (click)="select(1)">{{question?.prop1}}</div>
            <div *ngIf="!resultatFinal && response1 == true && !resultat" class="reponseQuestionSelect" (click)="select(1)">{{question?.prop1}}</div>
            <div *ngIf="!resultatFinal && response2 == true && !resultat" class="reponseQuestionSelect" (click)="select(2)">{{question?.prop2}}</div>
            <div *ngIf="!resultatFinal && response2 == false && !resultat" class="reponseQuestion" (click)="select(2)">{{question?.prop2}}</div>
            <div *ngIf="!resultatFinal && response3 == false && !resultat" class="reponseQuestion" (click)="select(3)">{{question?.prop3}}</div>
            <div *ngIf="!resultatFinal && response3 == true && !resultat" class="reponseQuestionSelect" (click)="select(3)">{{question?.prop3}}</div>
            <div *ngIf="!resultatFinal && response4 == false && !resultat" class="reponseQuestion" (click)="select(4)">{{question?.prop4}}</div>
            <div *ngIf="!resultatFinal && response4 == true && !resultat" class="reponseQuestionSelect" (click)="select(4)">{{question?.prop4}}</div>

            <div *ngIf="!resultatFinal && verif1  && resultat" class="reponseQuestionTrue" >{{question?.prop1}}</div>
            <div *ngIf="!resultatFinal && !verif1 && resultat " class="reponseQuestionFalse" >{{question?.prop1}}</div>
            <div *ngIf="!resultatFinal && verif2 && resultat " class="reponseQuestionTrue" >{{question?.prop2}}</div>
            <div *ngIf="!resultatFinal && !verif2 && resultat " class="reponseQuestionFalse" >{{question?.prop2}}</div>
            <div *ngIf="!resultatFinal && verif3 && resultat " class="reponseQuestionTrue" >{{question?.prop3}}</div>
            <div *ngIf="!resultatFinal && !verif3 && resultat " class="reponseQuestionFalse" >{{question?.prop3}}</div>
            <div *ngIf="!resultatFinal && verif4 && resultat " class="reponseQuestionTrue" >{{question?.prop4}}</div>
            <div *ngIf="!resultatFinal && !verif4 && resultat " class="reponseQuestionFalse" >{{question?.prop4}}</div>
            
            <button *ngIf="!resultatFinal &&!resultat" class="btn_valider" (click)="validate()">Valider</button>
            <div><button *ngIf="!resultatFinal &&resultat" class="btn_suivant" (click)="nextQuestion()">Suivant</button></div>
            <h1 *ngIf="resultatFinal">Résultat final : {{nbrBonneReponse}} / {{ nbrQuestion}}</h1>
        </div>
    </div>
</div>