<div class="conteneur_question">
    <div class="question">
        <div class="question_entete"></div>
        <p *ngIf="!multiselect" class="indication">* Une seule réponse possible</p>
        <p *ngIf="multiselect" class="indication">* Plusieurs réponses sont possibles</p>
        <div class="conteneur_proposition">
            <div *ngIf="response1==false" class="reponseQuestion" (click)="select(1)">{{question?.prop1}}</div>
            <div *ngIf="response1 == true" class="reponseQuestionSelect" (click)="select(1)"></div>
            <div *ngIf="response2 == true" class="reponseQuestionSelect" (click)="select(2)"></div>
            <div *ngIf="response2 == false" class="reponseQuestion" (click)="select(2)"></div>
            <div *ngIf="response3 == false" class="reponseQuestion" (click)="select(3)"></div>
            <div *ngIf="response3 == true" class="reponseQuestionSelect" (click)="select(3)"></div>
            <div *ngIf="response4 == false" class="reponseQuestion" (click)="select(4)"></div>
            <div *ngIf="response4 == true" class="reponseQuestionSelect" (click)="select(4)"></div>
            <button class="btn_valider">Valider</button>
        </div>
    </div>
</div>