<div>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300&display=swap" rel="stylesheet">

    
    <div class="img_en_tete">
        <div>
            <img src = "../../../../assets/logo/logo.png" class="img_logo"> 
        </div>
        <div>
            <H1 class="grand_titre"> FAIRE FACE AU CHANGEMENT CLIMATIQUE </H1>
            <H2 class="sous_titre">LE VRAI DU FAUX</H2>
        </div>
        
    </div>

</div>