.img_en_tete {
    height: 1800px;
    width: 100%;
    background-image: url("../../../../assets/images/fond_header.jpg");
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 16%, 0 39%);
    clip-path: polygon(0 0, 100% 0, 100% 16%, 0 39%);
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    
  }
  

.img_logo{
    max-height: 80px;
    margin-top: 30px;
    margin-left: 30px;
    
}
.img_contenu{

    max-height: 900px;
    left : 90px;

}

.contenu{
    position: absolute;
    margin-top: -1095px;
    margin-left : 215px;
}

.sous_titre{
    color: #FFF;
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 9.6px;
}

.grand_titre{
color: #FFF;
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top:85px;
}

.sous_titre_contenu{
    color: #1B5C26;

    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.colonne{
    width: 10px;
}

.button{
    width: 298px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #15481F;

}





/* CSS */
.button-3 {
  appearance: none;
  background-color: #145225;
  border: 1px solid rgba(27, 31, 35, .15);

  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,'Inter', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  

  width: 298px;
height: 44px;
flex-shrink: 0;
border-radius: 14px;
background: #15481F;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}


.quizz{
    position: absolute;
    margin-top: -550px;
    margin-left : 215px;
}

.titre_section_questionnaire{
    color: #15481F;

text-align: center;
font-family: Inter;
font-size: 27px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.carte_questionnaire{
width: 376px;
height: 191px;
flex-shrink: 0;
border-radius: 30px;
background: #FFF;
box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.20);

}

.titre_questionnaire{
    color: #000;
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.description_quizz{
    display: flex;

justify-content: center;
flex-shrink: 0;
color: #000;
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.button_quizz{
margin-left:40px;
border-radius: 5px;
border: 1px solid #15481F;
background: #FFF;

}







