<div>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300&display=swap" rel="stylesheet">


    <div class="img_en_tete">
        <div>
            <img src = "../../../../assets/logo/logo.png" class="img_logo"> 
        </div>
        <div>
            <H1 class="grand_titre"> FAIRE FACE AU CHANGEMENT CLIMATIQUE </H1>
            <H2 class="sous_titre">LE VRAI DU FAUX</H2>
        </div>
        
    </div>
    <div class="contenu">

        <table>
        <tr class="tab">
            <td class="colonne">
               
                    <img src = "../../../../assets/images/3346573-sans-fond.png"  class="img_contenu"> 

            </td>
            <td>
                <H3 class="sous_titre_contenu">Réseau action climatique France vous souhaite la bienvenu !</H3>
               
                <a href="https://reseauactionclimat.org/" target="_blank"><button class="button-3" role="button">Nous découvrir ></button></a>
            </td>
        </tr>
    </table>
    </div>
    <div class="quizz">
        <hr style="width: 1300px;"/>
        <h2 class="titre_section_questionnaire"> Nos questionnaires</h2>
        <div>
            <table>
                <tr>
                    <td class="carte_questionnaire">
                        <h4 class="titre_questionnaire">Big Data</h4>
                        <p class="description_quizz">Les big data impliquent des volumes massifs d'informations. Ces ensembles de données peuvent aller de plusieurs térabits à plusieurs pétabits (ou plus) en fonction de la nature de la source de données… </p>
                        <a href="/public/questionnaire/0"><button class="bouton_quizz" role="button"> Lancer le quizz ></button></a>
                    </td>
                    <td class="carte_questionnaire">
                        <h4 class="titre_questionnaire">Consomation electrique</h4>
                        <p class="description_quizz">La consommation électrique est généralement mesurée en watts (W) ou en kilowatts (kW). L'unité de mesure standard pour l'énergie électrique sur une période donnée est le kilowattheure (kWh)..</p>
                        <a href="/public/questionnaire/1"><button class="bouton_quizz" role="button"> Lancer le quizz ></button></a>
                    </td>
                    <td class="carte_questionnaire">
                        <h4 class="titre_questionnaire">Technologie et innovation </h4>
                        <p class="description_quizz">La technologie englobe l'ensemble des connaissances, des compétences, des outils, des processus et des techniques utilisés pour créer, fabriquer et utiliser des biens et des services...</p>
                        <a href="/public/questionnaire/2"><button class="bouton_quizz" role="button"> Lancer le quizz ></button></a>
                    </td>
          
                </tr>
              
                <tr>
                    <td class="carte_questionnaire">
                        <h4 class="titre_questionnaire">Education environnementale</h4>
                        <p class="description_quizz">L'éducation environnementale est un processus d'apprentissage qui vise à développer la conscience et la compréhension des enjeux environnementaux, à encourager l'engagement dans la résolution des problèmes écologiques...</p>
                        <a href="/public/questionnaire/4"><button class="bouton_quizz" role="button"> Lancer le quizz ></button></a>
                    </td>
                    <td class="carte_questionnaire">
                        <h4 class="titre_questionnaire">Recyclage</h4>
                        <p class="description_quizz">Les appareils électroniques sont démontés pour récupérer les composants réutilisables tels que les processeurs, les cartes mères, les disques durs, etc.</p>
                        <a href="/public/questionnaire/4"><button class="bouton_quizz" role="button"> Lancer le quizz ></button></a>
                    </td>
                    <td class="carte_questionnaire">
                        <h4 class="titre_questionnaire">Le nucléaire</h4>
                        <p class="description_quizz">L'énergie nucléaire fait référence à l'énergie libérée lors de réactions nucléaires, généralement dans des réacteurs nucléaires, pour produire de la chaleur. Cette chaleur est ensuite utilisée pour générer de l'électricité.</p>
                        <a href="/public/questionnaire/5"><button class="bouton_quizz" role="button"> Lancer le quizz ></button></a>
                    </td>
                </tr>

            </table>
        </div>

    </div>


</div>